:root{
    --fundo:#00bfff67;
    --cartao-frente:#6959CD;
    --cartao-verso:#836FFF;
    --destaque:#9370DB;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom:0;
    background-color:#4B0082;
    color: var(--branco);
    width: 100%;
    text-align: center;
}