:root{
    --fundo:#ffc0cb8e;
    --cartao-frente:#F08080;
    --cartao-verso:#CD5C5C;
    --destaque:#DB7093;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom:0;
    background-color:#4B0082;
    color: var(--branco);
    width: 100%;
    text-align: center;
}